<p>
  incomes ({{incomes.length}}):
</p>

<ul>
  {{#each incomes as |income|}}
    {{balance-change balanceChange=income currencySymbol=session.currentUser.currencySymbol}}
  {{/each}}
</ul>

{{outlet}}
