<p>
  expenses ({{expenses.length}}):
</p>

<ul>
  {{#each expenses as |expense|}}
    {{balance-change
      balanceChange=expense
      currencySymbol=session.currentUser.currencySymbol
      delete=(action 'delete')
    }}
 {{/each}}
</ul>

{{outlet}}
