<p>
  expenses ({{expenses.length}}):
</p>

<ul>
  {{#each expenses as |expense|}}
    {{balance-change balanceChange=expense currencySymbol=session.currentUser.currencySymbol}}
  {{/each}}
</ul>

{{outlet}}
