{{nav-bar
  period=period
  currentUser=session.currentUser
  goPeriodBack=(action 'goPeriodBack')
  goPeriodNext=(action 'goPeriodNext')
  logout=(action 'logout')
}}

{{side-bar
  currencySymbol=session.currentUser.currencySymbol
  expenseSum=expenseSum
  incomeSum=incomeSum
  sumDifference=sumDifference
}}

<div class="main">
  {{outlet}}
</div>

{{action-blocks}}
