{{#if session.isAuthenticated}}
  <h1>
    Hey buddy, {{session.currentUser.email}}!
  </h1>
{{/if}}

{{#link-to 'activity'}}
  Activity
{{/link-to}}

<button {{action 'logout'}}>
  Sign out
</button>

{{outlet}}
